body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    background-color: #f4f4f4;
}

#sidebar {
    width: 220px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

#sidebar h2 {
    text-align: center;
    font-size: 1.5em;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin: 20px 0;
    text-align: center;
}

#sidebar ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#main-content {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
}

.view {
    display: none;
}

#view1 {
    display: block;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

#shipment-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

#shipment-form input {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#shipment-form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#shipment-form button:hover {
    background-color: #45a049;
}

/* Agregar desplazamiento horizontal si es necesario */
#embarquesTable {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

/* Estilo para el botón de agregar */
.add-button {
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #45a049;
}